html {
    font-family: Arial; 
    background-color: #222;
    color: #aaa
}
body {
    margin:0px auto;
    background-color: #222;
    color: #aaa;
}
.value {
    text-align: right;
    padding-left: 1rem;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td {
    font-size: 1rem;
    padding: 0.75rem;
    vertical-align: top;
    border: 1px solid #444;
    border-width: 1px 0 0 0;
}
a, button {
    background-color: #111;
    color: #aaa;
    padding: 1rem;
    border: 1px solid #444;
    border-radius: 8px;
    text-decoration-line: none;
    display: inline-block;
    margin: 0.15rem;
    font-size: 1rem;
}

a:hover, button:hover{
    background-color: #222;
    color: #eee;
    border-color: #aaa;
}

input {
    background-color: #111;
    color: #aaa;
    padding: 1rem;
    border: 1px solid #444;
    border-radius: 8px;
    font-size: 1rem;
    text-align: right;
    width: 4rem;
    /* text-decoration-line: none;
    display: inline-block; */
}
